vti_encoding:SR|utf8-nl
vti_httpdversion:SX|FrontPage-PWS32/3.0.2.926
vti_createpostinfo:BX|false
vti_longfilenames:IX|1
vti_restartmanual:IX|0
vti_timecreated:TR|17 Mar 2022 03:40:16 -0600
vti_oldestcompatibleversion:SR|2.0.0.0
vti_navbuttonhomelabel:SR|Home
vti_webservertype:SR|frontpage
vti_textindexood:IR|0
vti_dependenciesood:IR|0
vti_autorecalc:IX|1
vti_copytimestamp_http\://qemuxp/copy_of_qemuxp:TR|18 Mar 2022 22:03:24 -0600
vti_casesensitiveurls:IX|0
vti_extenderversion:SR|3.0.2.926
vti_navbuttonprevlabel:SR|Back
vti_textextensions:SX|.txt.
vti_defaultcharset:SR|iso-8859-1
vti_missingoverlays:VX|
vti_structto_qemuxp\:80/copy_of_qemuxp:TR|17 Mar 2022 20:34:56 -0600
vti_themedefault:SR|none
vti_missingoverlaylabels:VX|
vti_welcomenames:VX|index.htm
vti_hassearchbot:BR|false
vti_defaultlanguage:SR|en
vti_navbuttonuplabel:SR|Up
vti_borderdefault:SR|tb
vti_htmlextensions:SX|.htm.html.shtml.shtm.htx.asp.alx.asa.
vti_navbuttonnextlabel:SR|Next
vti_title:SR|blasebears
vti_featurelist:VX|vti_ACGroups vti_ServiceMarkUrlDirBrowse vti_ServiceMarkUrlDirScript vti_ServerEmailTransport vti_ServerIndexServer
